body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url(../images/footer_lodyas.png);
}
a {
  color: #00b7ff;
}
.jumbotron {
	background:url(../images/jumbotron_bg.jpg);
	background-position: 0% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.col-md-4 {
	color: #ffffff;
	background:url(../images/congruent_outline.png);
}

footer {
	background:url(../images/brushed.png);
	color: #ffffff;
	padding-top: 10px;
	text-align: left;
	overflow: hidden;
	margin-top: 50px;
	padding: 50px;
	height: 50px;
	position:fixed;
 	bottom:0;
 	left:0;
 	right: 0;
 	color: #000000;

}
