extends layout

block content
	.container
		.jumbotron
			.continer
				h1 Hello!
				p My name is Connor, my career focus right now is to become a Full Stack Engineer. This websire is a project I am working on to learn front end development skills. I will also use this site to showcase other projects.
				a.btn.btn-primary.btn.btn-lg(href='/') See what i'm up to!
		.continer
			.row
				.col-md-4
					h2 About Me
					p I study Computer Science at Humboldt State University, and spend my free time hiking with my quadcopter.
					a.btn.btn-default(href='/about') Learn more